<main>
        <section id="page-intro-slider">
            <div class="container slider-contain">
                <div class="slider" id="slider">
                    <div class="slider-item" style="background-image: url(assets/img/slider/slider-1.jpg);">
                        <div class="slider-content">
                            <span>Best Selling</span>
                            <h1>Top collection</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                    <div class="slider-item" style="background-image: url(assets/img/slider/slider-2.jpg);">
                        <div class="slider-content">
                            <span>Best Selling</span>
                            <h1>Top collection</h1>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                    </div>
                </div>
                <div class="slider-button">
                    <i class="fa-solid fa-angle-left"></i>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </section>
        <section id="page-asstes">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="row card-item">
                            <div class="col-3"><img src="~/assets/img/icon/policy-1.png" alt=""></div>
                            <div class="col-9">
                                <h5>FREE SHIPPING</h5>
                                <p>Free shipping on all order</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row card-item">
                            <div class="col-3"><img src="~/assets/img/icon/policy-2.png" alt=""></div>
                            <div class="col-9">
                                <h5>ONLINE SUPPORT</h5>
                                <p>Online support 24 hours a day</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row card-item">
                            <div class="col-3"><img src="~/assets/img/icon/policy-3.png" alt=""></div>
                            <div class="col-9">
                                <h5>MONEY RETURN</h5>
                                <p>Back guarantee under 5 days</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="ourProduct">
           <div class="container">
                <div class="ourProduct-head">
                    <h1>Our Product</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </div>
                <div class="ourProduct-main">
                    <div class="row">
                        <div class="col-3">
                            <div class="product-area">
                                <div class="produc-image">
                                    <img src="~/assets/img/product/product-1.jpg" alt="" id="zoom">
                                </div>
                                <div class="product-content">
                                    <h4>Rexpo Womens shoes</h4>
                                    <span>$80.00</span>
                                    <del>$70.00</del>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-3">
                            <div class="product-area">
                                <div class="produc-image">
                                    <img src="~/assets/img/product/product-1.jpg" alt="" id="zoom">
                                </div>
                                <div class="product-content">
                                    <h4>Rexpo Womens shoes</h4>
                                    <span>$80.00</span>
                                    <del>$70.00</del>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-3">
                            <div class="product-area">
                                <div class="produc-image">
                                    <img src="~/assets/img/product/product-1.jpg" alt="" id="zoom">
                                </div>
                                <div class="product-content">
                                    <h4>Rexpo Womens shoes</h4>
                                    <span>$80.00</span>
                                    <del>$70.00</del>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-3">
                            <div class="product-area">
                                <div class="produc-image">
                                    <img src="~/assets/img/product/product-1.jpg" alt="" id="zoom">
                                </div>
                                <div class="product-content">
                                    <h4>Rexpo Womens shoes</h4>
                                    <span>$80.00</span>
                                    <del>$70.00</del>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
           </div>
        </section>
        <section id="sale-zona">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="sale-item">
                                <img src="~/assets/img/banner/banner-2.jpg" alt="">
                            <div class="sale-content">
                               <div class="content-center">
                                <h4>SPORT SHOES</h4>
                                <span>20% FROM</span>
                                <h3>FOR SPORTS MEN</h3>
                               </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="sale-item">
                                <img src="~/assets/img/banner/banner-2.jpg" alt="">
                            <div class="sale-content">
                               <div class="content-center">
                                <h4>SPORT SHOES</h4>
                                <span>20% FROM</span>
                                <h3>FOR SPORTS MEN</h3>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="top-seller">
            <div class="container">
                <div class="top-seller-head">
                    <h1>Top Seller</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
                </div>
                <div class="row">
                    <div class="col-4 seller-area-1">
                        <img src="~/assets/img/banner/banner-3.jpg" alt="">
                    </div>
                    <div class="col-8 seller-area-2">
                        <div class="row">
                            <div class="col-6 seller-product sp-1">
                                <div class="top-seller-img">
                                    <img src="~/assets/img/product/pro-small-1.jpg" alt="">
                                </div>
                                <div class="top-seller-content">
                                    <h4>Quickiin Mens shoes</h4>
                                    <span>$80.00</span>
                                
                                    <div class="seller-btn">
                                        <i class="fa-solid fa-heart"></i>
                                        <i class="fa-solid fa-basket-shopping"></i>
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 seller-product sp-2">
                                <div class="top-seller-img">
                                    <img src="~/assets/img/product/pro-small-2.jpg" alt="">
                                </div>
                                <div class="top-seller-content">
                                    <h4>Quickiin Mens shoes</h4>
                                    <span>$80.00</span>
                                
                                    <div class="seller-btn">
                                        <i class="fa-solid fa-heart"></i>
                                        <i class="fa-solid fa-basket-shopping"></i>
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 seller-product sp-3">
                                <div class="top-seller-img">
                                    <img src="~/assets/img/product/pro-small-3.jpg" alt="">
                                </div>
                                <div class="top-seller-content">
                                    <h4>Quickiin Mens shoes</h4>
                                    <span>$80.00</span>
                                
                                    <div class="seller-btn">
                                        <i class="fa-solid fa-heart"></i>
                                        <i class="fa-solid fa-basket-shopping"></i>
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 seller-product sp-4">
                                <div class="top-seller-img">
                                    <img src="~/assets/img/product/pro-small-4.jpg" alt="">
                                </div>
                                <div class="top-seller-content">
                                    <h4>Quickiin Mens shoes</h4>
                                    <span>$80.00</span>
                                
                                    <div class="seller-btn">
                                        <i class="fa-solid fa-heart"></i>
                                        <i class="fa-solid fa-basket-shopping"></i>
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
        <section id="our-blog">
           <div class="container">
            <div class="our-blog-head">
                <h1>Our Blog</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing</p>
            </div>
            <div class="row">
                <div class="col-4 blog-col">
                    <div class="blog-item">
                        <div class="blog-image">
                            <img src="~/assets/img/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h5>Celebrity Daughter Opens About Upto Having Her Eye Color</h5>
                            <p><span style="font-weight:bold ;">By:</span><span>Admin</span><span style="font-weight:bold ;">&nbsp; On:</span><span>17/05/2022</span></p>
                            <a href="">Read More..</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 blog-col">
                    <div class="blog-item">
                        <div class="blog-image">
                            <img src="~/assets/img/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h5>Celebrity Daughter Opens About Upto Having Her Eye Color</h5>
                            <p><span style="font-weight:bold ;">By:</span><span>Admin</span><span style="font-weight:bold ;">&nbsp; On:</span><span>17/05/2022</span></p>
                            <a href="">Read More..</a>
                        </div>
                    </div>
                </div>
                <div class="col-4 blog-col">
                    <div class="blog-item">
                        <div class="blog-image">
                            <img src="~/assets/img/blog/blog-2.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h5>Celebrity Daughter Opens About Upto Having Her Eye Color</h5>
                            <p><span style="font-weight:bold ;">By:</span><span>Admin</span><span style="font-weight:bold ;">&nbsp; On:</span><span>17/05/2022</span></p>
                            <a href="">Read More..</a>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </section>
        <section id="brand">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <img src="~/assets/img/brand/br1.png" alt="">
                    </div>
                    <div class="col-3">
                        <img src="~/assets/img/brand/br2.png" alt="">
                    </div>
                    <div class="col-3">
                        <img src="~/assets/img/brand/br3.png" alt="">
                    </div>
                    <div class="col-3">
                        <img src="~/assets/img/brand/br4.png" alt="">
                    </div>
                </div>
            </div>
        </section>
    </main>

