* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
@import "navbar";
@import "slider";
@import "pageAssets";
@import "ourproduct";
@import "topseller";
@import "ourBlog";
@import "brand";
@import "footer";
